<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TimeSheet</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


<h1>Consulter TimeSheet</h1>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <p>Date</p>
            </div>
            <div class="col-md-3">
                <p>Adresse du chantier</p>
            </div>
            <div class="col-md-3">
                <p>Nombre d'heures</p>
            </div>
        </div>



            <form action="redir.php" method="post">
                <div class="row">
                    <div class="col-md-3"><input type="text" value="<?php echo $donnees['DATE_CHANT'] ?> " name="date"></div>
                    <div class="col-md-3"><input type="text" value="<?php echo recupAdresseChantier($donnees['ID_CHANT']) ?>" name="adresse"> </div>
                    <div class="col-md-3"><input type="text" value="<?php echo $donnees['NBHEURE_CHANT'] ?>" name="nbh"></div>
                    <button type="submit" name="modif" value="<?= $donnees['ID_CHANT'] ?>">Modifier</button>

                    <button type="submit" name="supp" value="<?= $donnees['ID_CHANT'] ?>">Supprimer</button>
                </div>
            </form>


    </div>
</div>
<form action="timesheet.php"></form>
<a href="ajouter.php">
    <input type="button" name="ajouter" value="Ajouter">
</a>
</form>
</body>

</html>